/* CSS for Hadamard_1Q */

@media (min-width: 320px) {body {font-size: 8px;} }
@media (min-width: 423px) {body {font-size: 11px;} }
@media (min-width: 526px) {body {font-size: 13px;} }
/*@media (min-width: 768px) {body {font-size: 20px;} }
@media (min-width: 992px) {body {font-size: 23px;} }
@media (min-width: 1200px) {body {font-size: 27px;} }*/

html{
   background-color: #ccbb88;
  font-family:  arial, "sans-serif";
  text-align: center;
}
.main-title{
	font-size: 2em;
	color: #000000;
	margin-bottom: 0.5em;
}
.intro{
	width: 85%;
	display: inline-block;
	text-align: left;
	font-size: 1.3em;
	max-width: 500px;
	padding-left: 2.5em;
	margin-bottom: 1.5em;
}
.steps-row{
    display: inline-block;
	text-align: center;
	margin-top: 1em;
	/*border: 1px solid #000;*/
}
.init-bit{
   /* border: 1px solid #000;*/
	width: 1.5em;
	height: 3.1em;
	display:inline-block;
	float: left;
	font-size: 2em;
	text-align: center;
	line-height: 2.6;
}
.prob-state{
    border: 0.2em solid #888888;
    border-top: 0;
	width: 4.95em;
	height: 4.95em;
	display:inline-block;
	float: left;	
}
.ps-holder{
       margin-top: -3.7em;
       margin-left: -1.7em;
       text-align: center;
       display: none; 
       position: absolute;
}
.prob-state-small{
       border: 0.2em solid #888888;
        border-top: 0;
	width: 3em;
	height: 3em;      
        margin-top: 1.5em;

}
.top-fill{
    width: 4.5em;
	height: 2.25em;
	background-color:  #ccbb88;
	font-size: 1.1em;
	text-align: center;
	line-height: 2;
}
.bottom-fill{
    width: 4.5em;
	height: 2.25em;
	background-color:  #ccbb88;
	font-size: 1.1em;
	text-align: center;
	line-height: 2;
}
.small-fill{
        width: 2.75em;
	height: 0.8em;
	background-color:  #5ea4ee;
	font-size: 1.1em;
	text-align: center;
	line-height: 2;
}
.small-label{
         padding-top:1.2em;
         font-size: 0.9em;
}
.trans-info{
  /*  border: 1px solid #000;*/
	width: 7em;
	height: 5.2em;
	display:inline-block;
	float: left;
        text-align: center;
}
#svg-t0-s1{
       display: none;
}
#svg-t1-s1{
       display: none;
       margin-top: -7.4em;
}
#svg-t0-s2{
       display: none;
       position: relative;
       z-index: 10;
}
#svg-t1-s2{
       display: none;
       position: relative;
       z-index: 10;
       margin-top: -11em;
     /*  margin-top: -7.5em; */
}
.slider-section{
	margin-top: 4em;
}
.slider-control-init{
	display: inline-block;
	margin-right: 8em;
}
.slider-control-extra{
	display: inline-block;
	margin-left: 8em;
}
.btns-init-label{
	margin-bottom: 0.5em;
	text-align: left;
	font-size: 1.2em;
}
.init-slider-holder{
	text-align: left;
}
.slider-init-box{
	text-align: left;
	display: inline-block;
}
.init-number{
	font-size: 1.8em;
	padding-bottom: 0.5em;
	display: inline-block;
}
.slider-init {
  position: relative;
  display: inline-block;
  width: 4.5em;
  height: 1.5em;
}

.slider-init input {display:none;}

.slider-inp {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #055;
}

.slider-inp:before {
  position: absolute;
  content: "";
  height: 1.0em;
  width: 1.0em;
  left: 4px;
  bottom: 2px;
  background-color: #fff;
  border-radius: 50%;
}

input:checked + .slider-inp {
  background-color: #055;
}

input:checked + .slider-inp:before {
  -webkit-transform: translateX(2.6em);
  -ms-transform: translateX(2.6em);
  transform: translateX(2.6em);
}

.slider-inp {
  border-radius: 1em;
}


.btns{
	margin-top: 1em;
}
.btn{
   /*white-space: normal;*/
    height: 2.0em;
	width: 11em;
	font-size: 1.2em;
	background-color: #055;
	color: #fff;
	border: none;
	border-radius: 0.7em;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}


