/* CSS for Hadamard_1Q */

@media (min-width: 320px) {body {font-size: 11px;} }
@media (min-width: 423px) {body {font-size: 13px;} }
@media (min-width: 526px) {body {font-size: 16px;} }
@media (min-width: 768px) {body {font-size: 20px;} }
@media (min-width: 992px) {body {font-size: 23px;} }
@media (min-width: 1200px) {body {font-size: 27px;} }

html{
   background-color: #ccbb88;
  font-family:  arial, "sans-serif";
  text-align: center;
}
.main-title{
	font-size: 1.7em;
	color: #000000;
	margin-bottom: 1em;
}
.steps-row{
    display:inline-block;
	text-align: center;
	margin-top: 1em;
	/*border: 1px solid #000;*/
}
.init-bit{
   /* border: 1px solid #000;*/
	width: 2em;
	height: 2.1em;
	display:inline-block;
	float: left;
	font-size: 2em;
	text-align: center;
	line-height: 2;
}
.prob-state{
    border: 0.2em solid #888888;
    border-top: 0;
	width: 3.95em;
	height: 3.95em;
	display:inline-block;
	float: left;	
}
.top-fill{
    width: 3.6em;
	height: 1.7em;
	background-color:  #ccbb88;
	font-size: 1.1em;
	text-align: center;
	line-height: 2;
}
.bottom-fill{
    width: 3.6em;
	height: 1.9em;
	background-color:  #ccbb88;
	font-size: 1.1em;
	text-align: center;
	line-height: 2;
}
.trans-info{
  /*  border: 1px solid #000;*/
	width: 4em;
	height: 4.2em;
	display:inline-block;
	float: left;
}
.btns-init-label{
	margin-top: 0.5em;
	width: 25em;
	text-align: left;
	display: inline-block;
}
.btns-init{
	width: 25em;
	text-align: left;
	display: inline-block;
}
.btn-init{
	
}
.btns{
	margin-top: 1em;
}
.btn{
   /*white-space: normal;*/
}



