/* CSS for EcStats */

@media (min-width: 280px) {body {font-size: 9px;} }
@media (min-width: 320px) {body {font-size: 9px;} }
@media (min-width: 423px) {body {font-size: 12px;} }
@media (min-width: 526px) {body {font-size: 16px;} }
@media (min-width: 768px) {body {font-size: 23px;} }
@media (min-width: 992px) {body {font-size: 28px;} }
@media (min-width: 1200px) {body {font-size: 34px;} }

html{
	font-family: ariel, verdana;
	text-align: center;
}
.nav-links{
	background-color: #dea;
	height: 2em;
	line-height: 2.5;
}
.link{
	width: 15em;
	float: left;
	font-size: 0.7em;
	text-decoration: none;
}
.title{
	margin-top: 2em;
	font-size: 1.1em;
}
.ec-data{
	margin-top: 1em;
	border-collapse: collapse;
	font-size: 0.75em;
}
.ec-data th{
	border: 1px solid #000;
	padding: 0.3em;
}
.ec-data td{
	border: 1px solid #000;
	padding: 0.3em;
}
