/* CSS for StillSea Template */

@media (min-width: 280px) {body {font-size: 9px;} }
@media (min-width: 320px) {body {font-size: 9px;} }
@media (min-width: 423px) {body {font-size: 12px;} }
@media (min-width: 526px) {body {font-size: 16px;} }
@media (min-width: 768px) {body {font-size: 23px;} }
@media (min-width: 992px) {body {font-size: 28px;} }
@media (min-width: 1200px) {body {font-size: 34px;} }

.App {
  text-align: center;
}
.App-header {
  background-color: #446;
  height: 2.5em;
  padding: 0.5em;
  color: white;
}

.logo-box {
  float: left;
}
.logo {
	height: 2.2em;
	width: 2.2em;
}
.main-title{
	float: left;
	margin-left: 1em;
	margin-top: 0.3em;
	font-size: 1.3em;
}
.section-1{
	 background: url("./images/bg_image1.png");
     background-repeat: no-repeat;
	 background-size: cover;
     background-position: center center;
	 text-align: center;
	 display: inline-block;
	 width: 100%;
}
.text-slide{
	height: 8em;
	width: 15em;
	margin-top: 2em;
	background-color: #eeeeee;
	border: 2px solid #ddd;
	display: inline-block;
	border-radius: 0.5em;
	line-height: 2;
	padding: 2em;
	}

.radbtnA-holder{
	background-color: #ffffff;
	height: 0.8em;
	width: 0.8em;
	border-radius: 0.4em;
	display: inline-block;
	text-align: centre;
	line-height: 0.64;
	margin: 1em;
}
.radbtnA{
	height: 0.5em;
	width: 0.5em;
	border-radius: 0.25em;
	display: inline-block;
}
.section-2{
	 background-color: #eea;
	 text-align: center;
	 width: 100%;
	 height: 13em;
}
.graph-div{
	width: 17em;
}
.graph-grid{
	width: 17em;
	background-color: #eeeeee;
	border: 2px solid #ddd;
	border-radius: 0.5em;
	line-height: 2;
	position: absolute;
	top: 22em;
	left: 5em;
}
.graph-data{
	width: 17em;
	background-color: transparent;
	border: 2px solid #ddd;
    position: absolute;
	border-radius: 0.5em;
	line-height: 2;
	top: 22em;
	left: 5em;
	opacity: 0;
}
.checkbox-div{
	width: 5em;
	position: absolute;
	top: 22em;
	left: 25em;
	margin-top: 1em;
	color: #555;
}
.checkbox-holder{
	width: 5em;
}
.checkbox-wrap{
	margin-top: 0.3em;
}
.chkbox2{
	height: 1em;
	width: 1em;
	font-size: 0.75em;
	border: 1px solid #000;
	margin-top: 0.05em;
	margin-bottom: 0;
	float: left;
}
.chkbox2-label{
	height: 1em;
	width: 4em;
	font-size: 0.7em;
	float: left;
}





