/* CSS for StillSea Template */

@media (min-width: 280px) {body {font-size: 12px;} }
@media (min-width: 320px) {body {font-size: 14px;} }
@media (min-width: 423px) {body {font-size: 17px;} }
@media (min-width: 526px) {body {font-size: 20px;} }
@media (min-width: 768px) {body {font-size: 23px;} }
@media (min-width: 992px) {body {font-size: 28px;} }
@media (min-width: 1200px) {body {font-size: 34px;} }

.App {
  text-align: center;
}
.App-header {
  background-color: #446;
  height: 2.5em;
  padding: 0.5em;
  color: white;
}

.logo-box {
  float: left;
}
.logo {
	height: 2.2em;
	width: 2.2em;
}
.main-title{
	float: left;
	margin-left: 1em;
	margin-top: 0.3em;
	font-size: 1.3em;
}
.section-1{
	 background: url("./images/bg_image1.png");
     background-repeat: no-repeat;
	 background-size: cover;
     background-position: center center;
	 text-align: centre;
	 display: inline-block;
	 width: 100%;
}
.text-slide{
	height: 8em;
	width: 15em;
	margin-top: 2em;
	background-color: #eeeeee;
	border: 2px solid #ddd;
	display: inline-block;
	border-radius: 0.5em;
	line-height: 2;
	padding: 2em;
	}

.radbtnA-holder{
	background-color: #ffffff;
	height: 0.8em;
	width: 0.8em;
	border-radius: 0.4em;
	display: inline-block;
	text-align: centre;
	line-height: 0.64;
	margin: 1em;
}
.radbtnA{
	height: 0.5em;
	width: 0.5em;
	border-radius: 0.25em;
	display: inline-block;
}





