/* CSS for Addex.html */

@media (min-width: 280px) {body {font-size: 12px;} }
@media (min-width: 320px) {body {font-size: 14px;} }
@media (min-width: 423px) {body {font-size: 15px;} }
@media (min-width: 526px) {body {font-size: 17px;} }
@media (min-width: 768px) {body {font-size: 22px;} }
@media (min-width: 992px) {body {font-size: 25px;} }
@media (min-width: 1200px) {body {font-size: 29px;} }

html{
  background-color: #336644;
  font-family:  arial, "sans-serif";
  text-align: center;
}
.main-title{
	font-size: 1.7em;
	color: #ffffff;
}
.user-notify{
	color: #ff00ff;
	/*background-color: #00ff00;*/
	height: 1.4em;
	margin-top: 0.7em;
	font-size: 0.9em;
}
.number-box{
	/*margin-top: 0.6em;*/
	display: inline-block;
}
.number-column{
	float: left;
	margin-left: 0.5em;
	margin-right: 0.5em;
	background-color: #330066;
	margin-top: 1em;
}
.oper-box{
	text-align: left;
	color: #ffffff;
	background-color: #330066;
	margin-left: 0.2em;
	margin-right: 0.2em;
}
.num-display{
	text-align : center;
	font-size: 1.7em;
	margin-top: 0.2em;
	background-color: #330066;
	color: #ffffff;
}
.button-box{
    margin-top: 1em;
}
.btn-holder{
	margin-left: 0.2em;
	margin-right: 0.2em;
	display: inline-block;
}
.btn{
	background-color: #660033;
	color: #ffffff;
	width: 5em;
	height: 1.5em;
	font-size: 1.0em;
	border: none;
}
.score-box{
    margin-top: 0.7em;
	color: #ffffff;
	font-size: 1.2em;
}
.score-label{
	display: inline-block;
}
.score{
	display: inline-block;
	width: 1.8em;
}

@media (min-width: 526px) {
	.quarter{
	    float: left;
	 } 
}

